ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: white;
  --nav-size: 60px;
  --border: 1px solid rgb(71, 74, 77);
  --border-radius: 8px;
  --speed: 250ms;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  border-bottom: var(--border);
  color: rgb(247, 232, 210);
  font-weight: bold;
  font-family: helvetica;
  user-select: none;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.nav-item {
  width: calc(var(--nav-size) * 2.5);
  display: flex;
  align-items: center;
  justify-content: center;

}

.button {
  --button-size: calc(var(--nav-size) * 0.7);
  width: 200px;
  height: var(--button-size);
  background-color: orange;
  border-radius: 5%;
  padding: 5px;
  margin-right: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: filter 300ms;
}

.select-algorithm-button {
    background: rgb(47, 79, 79);
}
.run-algorithm-button {
    backgroundColor: rgb(34, 139, 34);
    background: rgb(34, 139, 34);
}
.generate-maze-button {
    background: linear-gradient(0.125turn, rgb(108, 108, 108), rgb(105, 105, 105), rgb(166, 166, 166));
}
.clear-walls-and-weights-button{
    background: rgb(220, 88, 42));
}
.clear-path-button{
    background: rgb(75,0,130);
}
.clear-grid-button {
    background: rgb(232, 67, 67);
}

.button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 225px;
  align: center;
  background-color: rgb(48, 49, 64);
  border-radius: var(--border-radius);
  padding: 1rem;
  transition: height var(--speed) ease;
}

.menu-item {
  height: 40px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items:center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
}

.menu-item:hover {
  background-color: rgb(82, 83, 87);
}