.node {
    display:inline-block;
    width:20px;
    height:20px;
    outline: 1px solid black;
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;
}

.node-start {
    background-color: green;
}

.node-queue {
    background-color:rgb(112, 255, 112);
}

.node-finish {
    background-color: red;
}

.node-wall {
  background-color: rgb(0, 0, 0);
}

.node-weight {
    background: url(../images/weight.png) center no-repeat;
    background-size: 15px;
    background-color: rgb(255, 165, 0);
}

.node-visited {
  background-color: rgb(112, 128, 144);
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.7);
    background-color: rgb(169, 169, 169);
  }

  50% {
    transform: scale(0.8);
    background-color: rgb(139, 139, 139);
  }

  75% {
    transform: scale(0.9);
    background-color: rgb(105, 105, 105);
  }

  100% {
    transform: scale(1);
    background-color: rgb(112, 128, 144);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-duration: 1.2s;
  animation-delay: 0.05s;
  animation-timing-function: ease-in;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.8);
    background-color: rgb(75, 0, 130);
  }

  50% {
    transform: scale(0.9);
    background-color: rgb(255, 215, 0);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 255, 0);
  }
}